<div class="cell excerpt" data-aos="fade-in">
  <a href="{{ project.url }}">
    
    <div class="grid-x grid-padding-y">
      <div class="small-12 cell">
      {% assign image = project.image %}
      {% include images/excerpt.html %}
      </div>
    </div>
    
    <div class="grid-x">
      <div class="small-12 cell text-center">
        <div class="excerpt__text"><span>
        {{ project.title }}
        {% if project.client %}
        — {{ project.client }}
        {% endif %}
        </span>
        </div>
      </div>
    </div>
    
  </a>
</div>
