@font-face {
  font-family: 'Univers Next Pro Light';
  src: 
  url('../fonts/univers-next-pro-light.woff2') format('woff2'), 
  url('../fonts/univers-next-pro-light.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}