//  Table of Contents:
//
//   1. Mixins
//   2. Global
//   3. Plugins
//   4. Color
//   5. Typography
//   6. Navigation
//   7. Off-canvas
//   8. Layout
//   9. Home
//   10. Menu / Food
//   11. Find Us
//   12. Story
//   13. Hire Us
//   14. Contact
//   15. Page
//   16. Footer


// 1. Mixins
// ---------

@mixin links ($link, $hover) {
  a {
    color: $link;
    &:hover {
      color: $hover;   
    }
  }
}

// 2. Global
// ---------

body {
  cursor: default;
  font-kerning: normal;
}

svg {
  max-width: 100%;
}

::selection {
  background: $white;
  color: $black;
}

:focus {
  outline: 0;
}

// 3. Plugins
// ----------

.turbolinks-progress-bar {
  height: 5px;
  background-color: $primary-color;
}

// 4. Color
// --------

.white {
  color: $white;
}

.primary-color {
  color: get-color(primary);
}

.secondary-color {
  color: get-color(secondary);
}

// 5. Typography
// -------------

.underline {
  border-bottom: 1px solid $black;
}

.uppercase {
  text-transform: uppercase;
}

i, cite, em, var, address, dfn {
  font-style: normal;
}

p a {
  border-bottom: 1px solid $white;
}

/*
h1 a {
  line-height: 1.1;
  border-bottom: 1px solid $white;
  transition: border-bottom .35s cubic-bezier(.39, .575, .565, 1);
  @include breakpoint(medium) {
   border-bottom: 2px solid $white;
  }
  @include breakpoint(large) {
   border-bottom: 2px solid $white;
  }
}
*/



// 6. Navigation
// -------------

.navigation {
  width: 100%;
  .cell {
	z-index: 14; 
  }
}

.hamburger-inner {
  &,
  &::before,
  &::after {
    background-color: $white;
  }
}

// 7. Off-canvas
// -------------

.off-canvas {
  @include links ($white, $dark-gray)
}

.hamburger-inner {
  &,
  &::before,
  &::after {
    background-color: $white;
  }
}

.hamburger {
  &.is-active {
    .hamburger-inner {
      &,
      &::before,
      &::after {
        background-color: $white;
      }
    }
  }
}

.wrapper {
  min-height: 100vh;
  padding: 1rem;
  @include breakpoint(medium) {
    padding: 2rem;
  }
  @include breakpoint(large) {
    padding: 3rem;
  }
}
      
.excerpt a img {
  transition: $primary-transition;
}

.excerpt a:hover img {
  filter: saturate(100%) brightness(70%);
  transition: $primary-transition;
}
